body {
    background-color: #212226;
    color: white;
}

img {
    width: 100%;
}

.headerLink {
    color: white;
    text-decoration: none;
}

.headerLink:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.btn-gobuy {
    background-color: #FFFFFF;
    padding: 1rem;
    color: #C6127D;
    border-radius: .4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-gobuy a:hover {
    border: none;
}

.white-box {
    border: 1px solid white;
    border-radius: .25em;
    padding: 15px;
}

#headerFilmDesc {
    background-color: #202226 !important;
    text-align: center;
    height: 35px;
    min-height: min-content;
    line-height: 35px;
    color: white;
}

#arrowWhite {
    position: absolute;
    width: 15px;
    top: 10px;
    left: 30px;
    transform: rotate(90deg);
}

.border-bottom-header {
    border-bottom: #979797 solid 1px;
}

.film-rating {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: #000000;
    border: 1px solid #6F6F71;
    color: #FFFFFF;
    text-align: center;
    line-height: 35px;
}