.border-bottom-header {
    border-bottom: #979797 solid 1px;
    color: white;
}

h4 {
    text-align: center;
}

.headerLink {
    color: white;
    text-decoration: none;
}

.headerLink:hover {
    color: cornflowerblue;
    text-decoration: none;
}

.ticket span {
    background: white;
    display: inline-block;
    width: 300px;
    margin-left: calc(50% - 150px);
    padding: 20px 10px 20px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#headerReceipt {
    background-color: #202226;
    text-align: center;
    height: 35px;
    min-height: min-content;
    line-height: 35px;
}

#arrowWhite {
    position: absolute;
    width: 15px;
    top: 10px;
    left: 30px;
    transform: rotate(90deg);
}