#headerReturnTicket {
    background-color: #202226 !important;
    text-align: center;
    height: 35px;
    min-height: min-content;
    line-height: 35px;
    color: white;
}

#arrowWhite {
    position: absolute;
    width: 15px;
    top: 10px;
    left: 30px;
    transform: rotate(90deg);
}

.border-bottom-header {
    border-bottom: #979797 solid 1px;
}